body {
	font-family: "Roboto", sans-serif;
	margin: 0;

}

.page1 {
	
	height: 789px;
	background: linear-gradient(100.72deg, #122E99 -12.83%, #2370C8 104.22%);
	padding: 20px 330px;
}

.hat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.navigation-link{
	text-decoration: none;
	color: white;
	margin: 10px;
}

input {
	padding: 15px ;
	border-radius: 30px;
	outline: none;
	border: none;
}
.title {
	display: block;
	color: white;
	
}
.title h1 {
	font-size: 75px;
	color: white;
	width: 432px;
	height: 232px;
	margin-top: 200px;
}
.title p {
	width: 400px;
	margin-top: 20px;
}

button {
	border: 2px solid #2370C8;
	border-radius: 30px;
	padding: 15px 45px;
	color: white;
	background-color: #2370C8;
	margin-top: 20px;
	font-weight: bold;
	cursor: pointer;

}

.page2 {
	padding: 20px 330px;
}

.take p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	color: blue;
}

.take2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.galery {
	display: flex;
	justify-content: center;
	position: relative;
}

.web {
	border: 2px solid blue;
	height: 210px;
	width: 300px;
	margin-right: 20px;

	}

.graphik {
	border: 2px solid #E5F3FE;
	height: 220px;
	width: 300px;
	margin-right: 20px;
	background-color: #E5F3FE;
}

.digital {
	border: 2px solid #E5F3FE;
	height: 220px;
	width: 300px;
	margin-right: 20px;
	background-color: #E5F3FE;
}

.web, .graphik, .digital, h3 {
    text-align: center;
    padding-top: 18px;
    vertical-align: 5px;
}

.img {
	width: 70px;
	height: 70px;
	background-color: #D6EDFF;
	border: 2px solid #D6EDFF;
	border-radius: 40px;
	margin: 0px 110px;

}