body {
	font-family: "Roboto", sans-serif;
	margin: 0;

}

.page1 {
	
	height: 789px;
	background: linear-gradient(100.72deg, #122E99 -12.83%, #2370C8 104.22%);
	padding: 20px 330px;
}

.hat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.navigation-link{
	text-decoration: none;
	color: white;
	margin: 10px;
}

input {
	padding: 15px ;
	border-radius: 30px;
	outline: none;
	border: none;
}
.title {
	display: block;
	color: white;
	
}
.title h1 {
	font-size: 75px;
	color: white;
	width: 432px;
	height: 232px;
	margin-top: 200px;
}
.title p {
	width: 400px;
	margin-top: 20px;
}

button {
	border: 2px solid #2370C8;
	border-radius: 30px;
	padding: 15px 45px;
	color: white;
	background-color: #2370C8;
	margin-top: 20px;
	font-weight: bold;
	cursor: pointer;

}

.page2 {
	padding: 20px 330px;
}

.take p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	color: blue;
}


.knopi {
	height: 45px;
	width: 45px;
	border-radius: 25px;
	background-color: lightgrey;
	text-align: center;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
	color: #888;

	
}

.knopi2 {
	height: 45px;
	width: 45px;
	border-radius: 25px;
	background: #2370C8;
box-shadow: 0px 8px 24px rgba(35, 112, 200, 0.24);
	text-align: center;
	color:  white;
	

}

.take2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.galery {
	display: flex;
	justify-content: center;
	position: relative;
}

.web {
	border: 2px solid #E5F3FE;
	height: 220px;
	width: 300px;
	margin-right: 20px;
	background-color: #E5F3FE;

	}

.graphik {
	border: 2px solid #E5F3FE;
	height: 220px;
	width: 300px;
	margin-right: 20px;
	background-color: #E5F3FE;
}

.digital {
	border: 2px solid #E5F3FE;
	height: 220px;
	width: 300px;
	margin-right: 20px;
	background-color: #E5F3FE;
}

.web, .graphik, .digital, h3 {
    text-align: center;
    padding-top: 18px;
    vertical-align: 5px;
}

.img {
	width: 70px;
	height: 70px;
	background-color: #D6EDFF;
	border: 2px solid #D6EDFF;
	border-radius: 40px;
	margin: 0px 110px;

}

.web:hover , .graphik:hover , .digital:hover {

	border: 2px solid #4654ea;
	height: 210px;
	width: 300px;
	margin-right: 20px;
	background-color: white;
	transition-duration: 2s;
}

.page3 {
	padding: 200px 320px;
	display: flex;
	justify-content: center;
	
	

}

.page3-1 {
	width: 500px;
		
}

.page3-1 img {
	width: 480px;
	height: 400px;

}

.page3-2 {
	width: 420px;
	align-items: flex-start ;
	margin-left: 20px;	
}

.page3-2 h3 {
	color: blue;
}

.page3-2 button {
	border: 2px solid #2370C8;
	border-radius: 30px;
	padding: 15px 45px;
	color: white;
	background-color: #2370C8;
	margin-top: 20px;
	font-weight: bold;
	cursor: pointer;
}

.page4 {
	height: 500px;
	width: 1833px;
	background-color: #F2F9FF;

}

.page4glav {
	width: 500px;
	border: 4px solid white;
	display: flex;
	justify-content: center;
	padding: 20px 330px;
	position: absolute;
	margin-left: 330px;
	margin-top: 115px;
}

.smart, .our, .super {
	margin: 10px;
	text-align: center;
} 

.smart p, .our p, .super p{
	color: #646464;
}

.im {
	width: 70px;
	height: 70px;
	background-color: #E7E7E7;
	border: 2px solid #E7E7E7;
	border-radius: 40px;
	margin: 0px 110px;
}

.our {
	margin: 10px 80px;
}

.page5 {
	padding: 20px 330px;


}

.page5-1 p {
	color: blue;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.page5-1 h1 {
	display: flex;
	justify-content: center;
}

.galerka  {
	padding: 20px 30px;
}

.gal {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.gal1 {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.class {
	width: 400px;
	height: 300px;
	background-color: #E7E7E7;
	margin: 10px;
}

.class1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 400px;
	height: 300px;
	background-color: #E7E7E7;
	margin: 10px;
	font-size: 30px;
	color: gray;
}

.class1 p {
	margin-top: 200px;
}

.page5-2 {
	display: flex;
	padding: 20px 500px;
}
.kn {
	display: flex;
}

.knopi , .knopi2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.page6 {

	background-color: #F2F9FF;
	width: 1833px;
	height: 650px;
	margin-left: -330px;
}

.page6glav {
	
}

.page6-1 {
	text-align: center;
	padding: 20px;
	height: 100px;
	display: block;
	justify-content: center;
	padding-top: 70px;
}

.page6-1 p {
	color: blue;
}

.page6-2 {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
.page6block {
	width: 316px;
    height: 325px;
    background-color: #E7E7E7;
    margin: 10px 20px;
}

.page6mini {
	height: 60px;
	width: 280px;
	background: #F2F9FF;
    box-shadow: 0 4px 24px #E7E7E7;
	opacity: .3;
	text-align: center;
	position: relative;
	bottom: -280px;
	right: -50px;
}

.page6mini h4 {
	color: black;
}

.page7 {
	
	margin-top: 100px;

	height: 700px;
}

.page7-1 {
	
	width: 700px;
	justify-content: left;
	align-items: center;
}

.page7-2 {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: flex-end;
	

}

.img {
	margin: auto;
}

.mini7 {
	width: 33%;
	height: 400px;
	box-shadow: 0 4px 24px #E7E7E7;
	margin-right: 30px;
}

.mini7 h6 {
	margin: 1px;
}

.mini7 h2 , h5 {
	display: flex;
	align-items: center;
	justify-content: center;
}